.intro__quote-author {
    max-width: 720px;
    margin: 10px 0 0;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
    text-align: right;
}
