.group-9__subtitle {
    max-width: 280px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 32px 0 0;
    padding: 0;
}