.place__image {
    width: 100%;
    grid-column: 1;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .place__image {
        max-width: 100%;
     }
 }

 @media screen and (max-width: 580px) {
     .place__image {
        grid-column: 1;
     }
 }
 