.lead {
    max-width: 100%;
    margin: 92px calc((100% - 984px) / 2);
    padding: 0;
    font-family: "inter", Arial, sans-serif;
}

@media screen and (max-width: 984px) {
    .lead {
        margin: 92px 0 0;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 100%;
    }   
}

@media screen and (max-width: 320px) {
    .lead {
        margin: 51px 0 0;
    }
}