.group-9 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.group-9 .buy-btn{
    margin: 32px 0 0;
    padding: 13px 20px;
}

.group-9:hover+.cover__overlay {
    opacity: 0.8;
}

@media screen and (max-width: 320px) {
    .group-9 .buy-btn {
        margin: 16px 0 0;
    }
}