.footer {
    margin: 92px 0 24px;
    padding: 0;
    font-family: 'inter', Arial, sans-serif;
}

@media screen and (max-width: 320px) {
    .footer {
        line-height: 14px;
        margin-top: 64px;
    }
}