.place__website {
    margin: 0;
    padding: 0;
    list-style: none;
    grid-column: 2;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

@media screen and (max-width:320px) {
    .place__website {
        grid-column: 1;
        padding: 0 16px 0;
    }
}