.buy-btn {
    background: #0278FE;
    border-radius: 4px;
    margin: 0;
    padding: 13px 20px;
    max-width: 248px;
    max-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    cursor: pointer;
}