.buy-btn {
    background: #0278FE;
    border-radius: 4px;
    margin: 0;
    padding: 13px 20px;
    max-width: 248px;
    max-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    cursor: pointer;
    text-decoration: none;
    font-family: "inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    box-sizing: border-box;
}
.buy-btn:hover {
    background: #004391;
}

@media screen and (max-width: 320px) {
    .buy-btn {
        max-width: 137px;
        padding: 13px 20px;
        margin: auto 0;
    }
}