.place__artist {
    margin: 8px 0 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
}

.place__artist:hover {
    color: #AAAAAA;
}

@media screen and (max-width: 768px) {
    .place__artist {
        font-size: 12px;
        line-height: 15px;
    }
 }